<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



    <!--开启包扫描，扫描代Spring注解的bean-->
    <context:component-scan base-package="com.xiao.JAVAManito.spring"/>
    <!--开启Aspectj自动代理-->
    <!--需要引入AspectJ的依赖，否则启动代理之后会出错-->
    <aop:aspectj-autoproxy/>



    <bean class="com.xiao.JAVAManito.spring.TestInitializingBean" >
        <property name="name" value="default" />
    </bean>


    <bean class="com.xiao.JAVAManito.spring.bean.DestroyBean">

    </bean>
</beans>